* {
    box-sizing: border-box;
  }


  body  {
    background-image: url('fondo5.avif');
    background-size: contain; 
    background-repeat: repeat;
    
    
    }
    

.claves {
    display: flex;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin: 10px;
    
}

#clave_1{
  text-align: center;
  font-size: 40px;
  background-color:aliceblue;
  text-align: center;
  border: rgb(0, 0, 0) groove;  
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 30px #ffffff;
  box-shadow: 0 0 20px rgb(255, 0, 0);
  border: 10px inset #000000;
  font-family: monospace;
  background-image: radial-gradient(circle, rgb(255, 106, 19) 39%, rgb(255, 233, 37) 96%);
  background-size: 100px 50px;

}
#clave_2{
  text-align: center;
  font-size: 40px;
  background-color:aliceblue;
  text-align: center;
  border: rgb(0, 0, 0) groove;  
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 30px #ffffff;
  box-shadow: 0 0 20px rgb(255, 0, 0);
  border: 10px inset #000000;
  font-family: monospace;
  background-image: radial-gradient(circle, rgb(255, 106, 19) 39%, rgb(255, 233, 37) 96%);
  background-size: 100px 50px;
}
#clave_3{
  text-align: center;
  font-size: 40px;
  background-color:aliceblue;
  text-align: center;
  border: rgb(0, 0, 0) groove;  
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 30px #ffffff;
  box-shadow: 0 0 20px rgb(255, 0, 0);
  border: 10px inset #000000;
  font-family: monospace;
  background-image: radial-gradient(circle, rgb(255, 106, 19) 39%, rgb(255, 233, 37) 96%);
  background-size: 100px 50px;
}
#clave_4{
  text-align: center;
  font-size: 40px;
  background-color:aliceblue;
  text-align: center;
  border: rgb(0, 0, 0) groove;  
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 30px #ffffff;
  box-shadow: 0 0 20px rgb(255, 0, 0);
  border: 10px inset #000000;
  font-family: monospace;
  background-image: radial-gradient(circle, rgb(255, 106, 19) 39%, rgb(255, 233, 37) 96%);
  background-size: 100px 50px;
}

.numero {
  font-size: 50px;
  background-color:aliceblue;

  border: rgb(0, 0, 0) groove;  
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  -webkit-text-stroke: 1.5px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  text-shadow: 0 0 30px #ffffff;
  box-shadow: 0 0 20px rgb(255, 0, 0);
  border: 10px inset #000000;
  font-family: monospace;
  background-image: radial-gradient(circle, rgb(255, 106, 19) 39%, rgb(255, 233, 37) 96%);
  background-size: 100px 50px;

} 
.crono{
  font-size: 30px;
  background-color:aliceblue;
  text-align: center;
  border: rgb(0, 0, 0) groove;  
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  -webkit-text-stroke: 1.5px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  text-shadow: 0 0 30px #ffffff;
  box-shadow: 0 0 20px rgb(255, 0, 0);
  border: 10px inset #000000;
  font-family: monospace;
  background-image: radial-gradient(circle, rgb(255, 106, 19) 39%, rgb(255, 233, 37) 96%);
  background-size: 100px 50px;
}
.botones{
  text-align: center;
  padding: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

  #display{

    font-size: 30px;
    background-color:aliceblue;
    text-align: center;
    border: rgb(0, 0, 0) groove;  
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-shadow: 0 0 30px #ffffff;
    box-shadow: 0 0 20px rgb(255, 0, 0);
    margin: auto;
    width: fit-content;
    border: 10px inset #000000;
    font-family: monospace;
    background-image: radial-gradient(circle, rgb(255, 106, 19) 39%, rgb(255, 233, 37) 96%);
    background-size: 100px 50px;
  }
  #inicio{
    font-size: 30px;
    background-color:aliceblue;
    text-align: center;
    border: rgb(0, 0, 0) groove;  
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-shadow: 0 0 30px #ffffff;
    box-shadow: 0 0 20px rgb(255, 0, 0);
    margin: auto;
    width: fit-content;
    border: 10px inset #000000;
    
    font-family: monospace;
    background-image: radial-gradient(circle, rgb(255, 106, 19) 39%, rgb(255, 233, 37) 96%);
    background-size: 100px 50px;
  }




.iresponsive {
  padding: 0 6px;
  /*float: left; */
  width: auto;
  text-align: center;
  margin: 40px;

}

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {


  .iresponsive {
      width: 100%;
  }
}
