* {
    box-sizing: border-box;
  }
  
img{
    max-height: 100%;
    height: 100px;
    width: 100px;
}


body  {
  background-image: url('fondonuevo.jpg');
  background-size: cover; 
}


body {
    color: #fff;
    text-shadow:
      1px 1px 2px #000,
      -1px 1px 2px #000,
      -1px -1px 0 #000,
      1px -1px 0 #000;
  }

a {
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  border: solid;
  border-color: rgb(0, 0, 0);
  color: #fbff00;
    text-shadow:
      1px 1px 2px #000,
      -1px 1px 2px #000,
      -1px -1px 0 #000,
      1px -1px 0 #000;
}

  .iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
    text-align: center;
  }


@media screen and (max-width: 600px) {

    .iresponsive {
        width: 100%;
    }
}