/* Estilo del canvas
  Lo bordeamos con una línea negra y le damos fondo
  azul para distinguirlo
*/

canvas {
    background-color: rgb(150, 231, 154);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
  }



.iresponsive {
  padding: 0 6px;
  /*float: left; */
  width: auto;
  /*text-align: center;*/
  margin: 40px;

}

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {


  .iresponsive {
      width: 100%;
  }
}
